@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300;400&display=swap');
* {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(75deg, #8EC5FC 0%, #E0C3FC 100%);

}

.container {
    width: 100%;
}

.card {
    width: 30%;
    min-height: 200px;
    margin: auto;
    margin-top: 10%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.btn {
    width: 100%;
    min-height: 25px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #74a3d3;
    background-color: #8EC5FC;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    padding: 25px;
}

.avatar-img {
    width: 50%;
    height: auto;
    border-radius: 100%;
}

.marco {
    width: 150px;
    height: 150px;
    background-color: red;
}

.contenido {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;
}

.m-title {
    color: blue;
}

.menu {
    content: "menu";
    transition: ease-out 2s;
}

.menu:hover {
    content: "close";
    cursor: pointer;
}